<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8">
    <title>Questions</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="controller/QuestionsController.js"></script>
</head>
<body>
<div>
    <div>
    </div>
    <ul>
        <li ng-repeat="q in allQuestions">
            {{q.question}}
            <ul>
                <div class="radio" ng-repeat="a in q.answers">
                    <label><input type="radio" name="{{q.question}}" ng-click="getQuestion(q.id,a.value)">{{a.answers}}</label>
                </div>
            </ul>
        </li>
    </ul>
</div>
<div>
    <button type="button" class="btn btn-default"><a ng-href="#/score/{{result}}">submit answers</a></button>
</div>

</body>