<!doctype html>
<html ng-app="App">
<head>
    <meta charset="utf-8">
    <title>Questions</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
    <script src="../app.js"></script>
    <script src="../controller/ScoreController.js"></script>
    <script src="../controller/QuestionsController.js"></script>

</head>
<body>
<div ng-controller="questCtrl">
    <div ng-controller="scoreCtrl">
    <h1 style="text-align: center">Your Score IS {{getResults()}}</h1>
    </div>
</div>
</body>