<!doctype html>
<html ng-app="App">
<head>
    <meta charset="utf-8">
    <title>Questions</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
    <script src="QuestionsController.js"></script>
</head>
<body>
<ng-view></ng-view>
<div ng-controller="questCtrl" action="/">
    <ul>
        <li ng-repeat="q in allQuestions">
            {{q.question}}
            <ul>
                <div class="radio" ng-repeat="a in q.answers">
                    <label><input type="radio" name="{{q.question}}" ng-click="getQuestion(q.id,a.value)">{{a.answers}}</label>
                </div>
            </ul>
        </li>
    </ul>
</div>
<div>
    <button type="button" class="btn btn-default"><a href="#/score">submit answers</a></button>
</div>

</body>